body {
    background-color: #1b262c;
    font-family: 'Roboto',
        Helvetica,
        Arial,
        sans-serif;
}

.title-container {
    padding-top: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    text-align: center;
    font-family: 'Roboto',
    Helvetica,
    Arial,
    sans-serif;
    font-size: 48px;
    /* padding-bottom: -50px; */
}

/* .fa-question-circle { */
.fa-info-circle {
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 101;
}

.fa-info-circle:hover {
    color: #cbcbcb; 
}

.info-modal {
    z-index: 102;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
    background-color: #1b262c;
    width: 35%;
    /* height: 20%; */
    border-radius: 10px;
    border: 3px solid white;
    /* padding: 18px; */
    display: none;
}

.modal-content {
    padding: 15px 30px;

}

.sources-btn {
    color:#90BE6D;
    text-decoration: underline;
    cursor: pointer;
}

.instructions {
    padding-bottom: -10px;
}

.sources {
    display: none;
}

.fa-times-circle {
    color: white;
    position: absolute;
    right: 9px;
    top: 9px;
    /* font-size: 24px; */
    /* font-weight: bold; */
}

.fa-times-circle:hover,
.fa-times-circle:focus {
    color: #cbcbcb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    color: white;
    font-family: 'Roboto',
    Helvetica,
    Arial,
    sans-serif;
    font-size: 20px;
}

.modal-content a {
    color: #F7B926;
}

.map-container {
    /* width: 80vw; */
    height: 80vh;
    /* padding-top: 40px; */
    padding-right: 50px;
}

.map-section {
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Roboto', 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
    padding: 20px;
}

.date-label {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto',
        Arial,
        Helvetica,
        sans-serif;
    font-size: 48px;
    right: 7%;
    bottom: 23%;
}

/* Slider */

.slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    padding-top: 10px;
}

.play-button {
    cursor: pointer;
    padding-right: 10px;
    font-size: 24px;
}

/* The slider itself */
#slider {
    width: 80%;
    height: 12px;
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}

.range-slider {
    width: 80%;
}

.rs-range {
    /* margin-top: 29px; */
    width: 100%;
    -webkit-appearance: none;
}

.rs-range:focus {
    outline: none;
}

.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 30px;
    width: 15px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15px;
}

.rs-range::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 30px;
    width: 15px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15px;
}

.rs-range::-moz-focus-outer {
    border: 0;
}

.play-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

#play-pause {
    display: none;
}

#play-pause-label {
    cursor: pointer;
    color: white;
    font-size: 28px;
    padding-top: 8px;
}


#play-pause:checked+#play-pause-label::after {
    content: "❙❙";
}

#play-pause-label::after {
    content: "►";
}

/* Trial Blocker */

.trial-blocker {
    width: 200px;
    height: 20px;
    background-color: #1b262c;
    position: absolute;
    right: 0;
    bottom: 0;
}

.credits {
    z-index: 100;
    position: absolute;
    padding-top: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: 0;
}

.credits h1 {
    font-size: 56px;
}

.credits p {
    font-size: 22px;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Volume */

.volume {
    font-size: 1.3rem;
    padding-top: 8px;
    padding-left: 20px;
    color: white;
    cursor: pointer;
}

.volume-off {
    display: none;
}

.muted > .volume-on {
    display: none;
}

.muted > .volume-off {
    display: inline;
}

/* Responsive */

@media only screen and (max-width: 1060px) {
    text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 950px) {
    text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 700px) {
    text {
        font-size: 8px;
    }
}

@media only screen and (max-width: 450px) {
    text {
        font-size: 6px;
        white-space: normal;
    }
    .date-label {
        font-size: 16px;
        right: 9%;
        bottom: 38%;
    }
    .range-container {
        position: absolute;
        bottom: 200px;
    }
    .range-slider {
        width: 60%;
    }
}