body {
    background-color: #1b262c;
    font-family: 'Roboto',
        Helvetica,
        Arial,
        sans-serif;
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main Title */
.title-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    text-align: center;
    font-size: 48px;
}

.fa-info-circle {
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 101;
}

.fa-info-circle:hover {
    color: #cbcbcb;
}

/* Map */
.map-section {
    position: relative;
    width: 1400px;
    height: 700px;
}

.map-container {
    width: 100%;
    height: 100%;
}

.date-label {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 48px;
    right: 10%;
    bottom: 25%;
}

/* Modal */
.info-modal {
    z-index: 102;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
    background-color: #1b262c;
    width: 35%;
    border-radius: 10px;
    border: 3px solid white;
    display: none;
}

.modal-content {
    padding: 30px;
}

.modal-title {
    font-weight: bold;
}

.sources-btn {
    color: #90BE6D;
    text-decoration: underline;
    cursor: pointer;
}

.instructions {
    padding-bottom: -10px;
}

.sources {
    display: none;
}

.fa-times-circle {
    color: white;
    position: absolute;
    right: 9px;
    top: 9px;
}

.fa-times-circle:hover,
.fa-times-circle:focus {
    color: #cbcbcb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    color: white;
    font-family: 'Roboto',
        Helvetica,
        Arial,
        sans-serif;
    font-size: 20px;
}

.modal-content a {
    color: #F7B926;
}

/* Slider */
.range-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#slider {
    width: 80%;
    height: 12px;
}


.range-slider {
    width: 80%;
}

.rs-range {
    /* margin-top: 29px; */
    width: 100%;
    -webkit-appearance: none;
}

.rs-range:focus {
    outline: none;
}

.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 30px;
    width: 15px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15px;
}

.rs-range::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 30px;
    width: 15px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15px;
}

.rs-range::-moz-focus-outer {
    border: 0;
}

.play-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.play-button {
    cursor: pointer;
    padding-right: 10px;
    font-size: 24px;
}

#play-pause {
    display: none;
}

#play-pause-label {
    cursor: pointer;
    color: white;
    font-size: 28px;
    padding-top: 8px;
}

#play-pause:checked+#play-pause-label::after {
    content: "❙❙";
}

#play-pause-label::after {
    content: "►";
}

/* Trial Blocker */
.trial-blocker {
    width: 200px;
    height: 20px;
    background-color: #1b262c;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Credits */
.credits {
    z-index: 100;
    position: absolute;
    padding-top: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: 0;
}

.credits h1 {
    font-size: 56px;
}

.credits p {
    font-size: 22px;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Volume */

.volume {
    font-size: 1.3rem;
    padding-top: 8px;
    padding-left: 20px;
    color: white;
    cursor: pointer;
}

.volume-off {
    display: none;
}

.muted>.volume-on {
    display: none;
}

.muted>.volume-off {
    display: inline;
}

/* Responsive */

@media only screen and (min-width: 2600px) {
    .map-section {
        width: 2400px;
        height: 1200px;
    }

    .range-container {
        width: 2400px;
    }
}

@media only screen and (min-width: 2300px) and (max-width: 2600px) {
    .map-section {
        width: 2100px;
        height: 1050px;
    }

    .range-container {
        width: 2100px;
    }

    .date-label {
        right: 12%;
        bottom: 26%;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2300px) {
    .map-section {
        width: 1800px;
        height: 900px;
    }

    .range-container {
        width: 1800px;
    }

    .date-label {
        right: 12%;
        bottom: 26%;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 2000px) {
    .map-section {
        width: 1600px;
        height: 800px;
    }

    .range-container {
        width: 1600px;
    }

    .date-label {
        right: 12%;
        bottom: 26%;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1700px) {
    /* leave as-is */

    /* 

    .main-title {
        font-size: 48px;
    }
    .map-section {
        width: 1400px;
        height: 700px;
    }
    .range-container {
        width: 1400px;
    }
    .date-label {
        font-size: 48px;
        right: 10%;
        bottom: 25%;
    } 

    */
}

@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .main-title {
        font-size: 36px;
    }

    .fa-info-circle {
        font-size: 36px !important;
    }

    .map-section {
        width: 1100px;
        height: 550px;
    }

    .range-container {
        width: 1100px;
    }

    .date-label {
        font-size: 36px;
        right: 10%;
        bottom: 26%;
    }

    text {
        font-size: 14px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
    .main-title {
        font-size: 28px;
    }

    .fa-info-circle {
        font-size: 28px !important;
    }

    .map-section {
        width: 800px;
        height: 400px;
    }

    .range-container {
        width: 800px;
    }

    .date-label {
        font-size: 28px;
        right: 10%;
        bottom: 26%;
    }

    text {
        font-size: 10px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .main-title {
        font-size: 22px;
    }

    .fa-info-circle {
        font-size: 22px !important;
    }

    .map-section {
        width: 500px;
        height: 250px;
    }

    .range-container {
        width: 500px;
    }

    .date-label {
        font-size: 20px;
        right: 10%;
        bottom: 26%;
    }

    text {
        font-size: 7px;
    }
}

@media only screen and (max-width: 500px) {
    .main-title {
        font-size: 22px;
    }

    .fa-info-circle {
        font-size: 22px !important;
    }

    .map-section {
        width: 80vw;
        height: 60vw;
    }

    .range-container {
        width: 80vw;
    }

    .date-label {
        font-size: 14px;
        right: 0%;
        bottom: 35%;
    }

    text {
        font-size: 6px;
    }

    .play-button {
        font-size: 22px !important;
    }
    .fa-volume-up {
        font-size: 22px !important;
    }
    .fa-volume-off {
        font-size: 22px !important;
    }
}